<p>اطلاعات بیمار</p>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">اطلاعات بیمار</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" class="form-horizontal" >
        <div class="card-body">
             
            <!-- <div class="col-sm-4">
                <label for="exampleInputEmail1">کد بخش</label>
                <input type="email" class="form-control"  placeholder="نام را وارد کنید">
                    {       
        Patient_ID  ? : number ;
        FName  ? : string ;
        LName  ? : string ;
        Birthdate  ? : string ;
        National_Code  ? : string ;
        Phone  ? : string ;
        Mobile  ? : string ;
        Gender  ? : string ;
        Insert_Date  ? : string ;
        User_ID ? : number ;
    }
            </div> -->          
  
            <div class="col-sm-4">
                <label for="txtPartName">نام</label>
                <input  class="form-control" type="text" id="FName" name="FName" [(ngModel)] = "v_patient!.FName"  
                required placeholder="نام را وارد کنید" />             
            </div>   
            <!-- <div *ngIf="FName.invalid && (FName.dirty || FName.touched)"
    class="alert">

  <div *ngIf="FName.errors?.['required']">
    Name is required.
  </div>
  <div *ngIf="FName.errors?.['minlength']">
    Name must be at least 4 characters long.
  </div> -->
         
            <!--  -->
            <div class="col-sm-4">
                <label for="txtComment">نام خانوادگی</label>
                <input id="txtComment" type="text" class="form-control" name="LName"  [(ngModel)] = "v_patient!.LName"
                required placeholder="نام خانوادگی را وارد کنید">
            </div>
            <!-- <input id="txtComment" type="text" class="form-control" name="Birthdate" 
                      [(ngModel)] = "v_patient.Birthdate" placeholder="تاریخ تولد را وارد کنید"> -->
             <div class="col-sm-4">
                <label for="txtBirthdate">تاریخ تولد</label>
                
                <ng-persian-datepicker >
                    <input type="text"  id="txtBirthdate"   
                    [(ngModel)] = "v_patient!.Birthdate"
                    required
                    placeholder="تاریخ تولد را وارد کنید" 
                    class="form-control"
                    [formControl]="dateValue"                                                             
                     />
                  </ng-persian-datepicker>
            </div>  
 
           
            
            <div class="col-sm-4">
                <label for="txtComment">شماره پرونده
                </label>
                <input id="txtComment" type="text" class="form-control" name="National_Code"  
                 [(ngModel)] = "v_patient.National_Code" 
                 required
                 placeholder="شماره پرونده را وارد کنید">
            </div>

            <div class="col-sm-4">
                <label for="txtGender">جنسیت  </label>                
                 <select class="custom-select sm-4"   [(ngModel)]  = "v_patient.Gender"
                  
                 [value]="v_patient.Gender"
                    required
                    placeholder=" جنسیت را انتخاب کنید" >             
                    <option *ngFor="let gen of gender" >
                      {{ gen }}
                    </option>
                   </select>                  
            </div>

            <div class="col-sm-4">
                <label for="txtMobile"> موبایل
                </label>                
                <input id="txtMobile" type="text" class="form-control" name="Mobile"  
                 [(ngModel)] = "v_patient.Mobile"                  
                 placeholder=" موبایل را وارد کنید">
            </div>

            <div class="col-sm-4">
                <label for="txtPhone">تلفن 
                </label>                
                <input id="txtPhone" type="text" class="form-control" name="Phone"  
                 [(ngModel)] = "v_patient.Phone"                  
                 placeholder=" تلفن را وارد کنید">
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 mb-1" style="float:right">
               
                  <br />
                  <button style="display:inline" type="button" (click)="createOrReplace(v_patient)" class="btn btn-primary">ثبت</button> 
           &nbsp;  <button type="button" (click)=" gotoList() " *ngIf="op_edit" class="btn btn-success">برگشت</button>
             <!-- <button type="button" (click)="delete(v_patient )" class="btn btn-danger">حذف</button> -->
          </div>  

        </div>
        <!-- /.card-body -->
  
        
    </form>
    <!-- <ng-persian-datepicker >
        <input type="text"  id="txtComment" 
        placeholder="تاریخ تولد را وارد کنید" class="form-control"
        [formControl]="dateValue"                                        
         
         />
      </ng-persian-datepicker> -->
  </div> 
   