<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">اطلاعات بخش</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form" class="form-horizontal">
        <div  class="card-body">
             
            <!-- <div class="col-sm-4">
                <label for="exampleInputEmail1">کد بخش</label>
                <input type="email" class="form-control"  placeholder="نام را وارد کنید">
            </div> -->          
          <div class="form-group">
            <div class="col-sm-4">
                <label for="txtPartName">نام بخش</label>
                <input  
                type="text"
                formControlName="part_Name"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['part_Name'].errors }"
                [(ngModel)] = "v_part.Part_Name"    
                placeholder="نام بخش را وارد کنید"
                /> 
                <div *ngIf="submitted && f['part_Name'].errors" class="invalid-feedback">
                    <div *ngIf="f['part_Name'].errors['required']">Part_Name is required</div>
                </div>            
            </div>         
            
          </div>
         <div class="form-group">
            <!--  -->
            <div class="col-sm-4">
                <label for="txtComment">توضیحات</label>
                <input id="txtComment" 
                formControlName="comment"
                type="text" 
                class="form-control" 
                name="comment" 
                [ngClass]="{ 'is-invalid': submitted && f['comment'].errors }" 
                [(ngModel)] = "v_part.Comment" 
                placeholder="توضیحات را وارد کنید">

                <div *ngIf="submitted && f['comment'].errors" class="invalid-feedback">
                    <div *ngIf="f['comment'].errors['required']">comment is required</div>
                    <div *ngIf="f['comment'].errors['minlength']">
                        comment must be at least 6 characters
                      </div>
                </div>
            </div>
        </div>
            <div class="col-sm-4">
             
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 mb-1" style="float:right">
               
                  <br />
                  <button type="submit" 
                          style="display:inline" 
                          (click)="createOrReplace(v_part)" 
                          class="btn btn-primary">ثبت</button> 
           <!-- &nbsp;  <button type="button" (click)="create(v_part)" class="btn btn-success">ایجاد</button> -->
           &nbsp; <button type="button" *ngIf="op_edit" (click)="delete(v_part )" class="btn btn-danger">حذف</button>
           &nbsp; <button type="button" (click)="gotoList()" class="btn btn-info">برگشت</button>
          </div>  

        </div>
        <!-- /.card-body -->
  
        <!-- <div class="card-footer">
            <button type="submit" onclick="CreatePatient()" class="btn btn-primary">ثبت</button>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <br />
                <a onclick="Registeruser()" class="btn btn-success col-md-12">تکمیل ثبت نام </a>
            </fieldset>
        </div> -->
    </form>
  </div> 
   