  <div class="login-box">
                <div class="login-logo">
                  <a href=""><b>ورود به سایت</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="card">
                  <div class="card-body login-card-body">
                    <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>
              
                    <form action="" method="post">
                      <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="نام کاربری" 
                        required
                        name="Username"  
                        [(ngModel)] = "o_user!.Username"/>
                        <div class="input-group-append">
                          <span class="fa fa-user input-group-text"></span>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="رمز عبور"
                        required   
                        name="Password"  
                         [(ngModel)] = "o_user!.Password"/>
                        <div class="input-group-append">
                          <span class="fa fa-lock input-group-text"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-8">
                          <div class="checkbox icheck">
                            <label>
                              <input type="checkbox"> یاد آوری من
                            </label>
                          </div>
                        </div>
                        <!-- /.col   -->
                        <div class="col-4">
                          <button type="submit"
                           (click)="Login(o_user)" 
                          class="btn btn-primary btn-block btn-flat">ورود</button>
                        </div>
                       
                        <!-- /.col -->
                      </div>
                    </form>
                    <div *ngIf="error" class="alert alert-danger">
                      {{ error  }}
                    </div>
                     
               
                    <p class="mb-1">
                      <a href="#">رمز عبورم را فراموش کرده ام.</a>
                    </p>
                    <p class="mb-0">
                      <a href="register.html" class="text-center">ثبت نام</a>
                    </p>
                  </div>
                  <!-- /.login-card-body -->
                </div>
              </div>
              <!-- /.login-box -->            